.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .signup-content {
    text-align: center;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #ff8000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff6600;
  }
  
  .social-signup {
    margin-top: 20px;
  }
  
  .social-signup p {
    font-size: 16px;
    color: #666;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .social-icons a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
  }
  
  .social-icons a:hover {
    color: #ff8000;
  }
  